//-шаблон content
mixin content
  .content
    ul.content__list
      li.content__item
        a.content__logo(href="#")
        a.content__description(href="#") 
          .content__caption Купи доску!!! Ну купи!!
          .content__text Доска клевая! Честное слово! Благодарить потом будешь!
      li.content__item.content__item--1
        a.content__description(href="#") 
          .content__caption Купи доску!!! Ну купи!!
          .content__text Доска клевая! Честное слово! Благодарить потом будешь!
      li.content__item.content__item--2
        a.content__description(href="#") 
          .content__caption Купи доску!!! Ну купи!!
          .content__text Доска клевая! Честное слово! Благодарить потом будешь!
      li.content__item.content__item--3
