//-шаблон content
mixin content
  .content
    ul.content__list
      li.content__item
        a.content__logo(href="#")
      li.content__item
        img.content__img(src="../img/block/content/img1.jpg" alt="fanatic")
      li.content__item
        img.content__img(src="../img/block/content/img2.jpg" alt="fanatic")
      li.content__item
        img.content__img(src="../img/block/content/img3.jpg" alt="fanatic")
    
