.content{
  display: block;
  min-width: 500px;
  max-width: 1000px;
  height: 240px;
  overflow: hidden;
  border: 2px solid $grey;
}

.content__list{
  position: relative;
  height: 100%;
}

.content__item{
  display: inline-block;
  position: absolute;
  transition: left 1s;
  height: 100%;
  overflow: hidden;
    &:hover{
      .content__description{
        left: 6%;
      }
    }
}

.content__link{
  display: block;
  height: 100%;
}

.content__img{
  height: 100%;
    &--logo{
      height: auto;
    }
}

.content__description{
  display: block;
  position: absolute;
  top: 65%;
  left: 900%;
  transition: left 0.6s;
  width: 95%;
  height: 30%;
  padding: 10px;
  background-color: $grey;
  color: $white;
  font-size: 14px;
  text-decoration: none;
}

.content__caption{
  font-weight: bold;
}
