extends templates/template.pug
include block/content/content.pug

block content
  //внешний контайнер
  .wrapper
    +content
            
block scripts
  script(src='js/script.min.js')
        
